{{- if .Params.coaching.enable }}
{{- with .Params.coaching }}
<section class="section bg-grey-2 bg" id="coaching" style="background-image: url(/images/bg-section-4-left-bottom.png), url(/images/bg-section-4-right-top.png), linear-gradient(to top right, #f7f5f1 50%, #f2efe9 50%); background-position: left bottom, right top, bottom; background-size: 246px, 243px, 100% 125px">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <div class="text-left pb-5">
          <p>{{ .statement | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .formats }}
      <div class="col-md-5 offset-1">
        <div class="row">
          <div class="col-md-4 offset-2">
            <div class="text-left font-weight-bold">
              <p style="font-size: 30px">{{ .name | markdownify }}</p>
            </div>
          </div>
          <div class="col-md-3 align-self-center">
            <img class="img-fluid" src="{{ .image | absURL }}" alt="">
          </div>
        </div>
        {{ range .practices }}
        <div class="row">
          <div class="col-md-1 text-right">
            <i class="tf-ion-ios-minus-empty" style="font-size: 40px;"></i>
          </div>
          <div class="col-md-10">
            <p class="font-weight-bold">{{ .name | markdownify }}</p>
            <p>{{ .description }}</p>
          </div>
          </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{- end }}
{{- end }}