{{- if .Params.method.enable }}
{{- with .Params.method }}
<section class="section linked bg-grey-1 bg" id="method" style="background-image: url(/images/bg-section-5-left-top.png), linear-gradient(to bottom right, #f7f5f1 50%, #f2efe9 50%); background-position: left top, bottom; background-size: 222px, 100% 125px">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <div class="text-left pt-5 pb-5">
          <p>{{ .statement | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-1">
        <div class="text-left">
          <p>{{ .description | markdownify }}</p>
        </div>
        {{ range .items }}
        <div class="row">
          <div class="col-1 text-right">
            <i class="tf-ion-ios-minus-empty" style="font-size: 40px;"></i>
          </div>
          <div class="col-10">
            <p>{{ .label | markdownify }}</p>
          </div>
        </div>
        {{ end }}
        <div class="row pt-5 pb-5">
          {{ range .cycles }}
          <div class="col-md-5 offset-1">
            <div class="text-center font-weight-bold">
              <p style="font-size: 30px">{{ .name | markdownify }}</p>
            </div>
            <div class="text-left">
              <p>{{ .description | markdownify }}</p>
            </div>
          </div>
          {{ end }}
        </div>
        {{ range .details }}
        <div class="text-left">
          <p>{{ .element | markdownify }}</p>
        </div>
        {{ end }}
        <div class="text-left font-italic">
          <p>{{ .note | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}