{{- if .Params.outcomes.enable }}
{{- with .Params.outcomes }}
<section class="section linked bg-grey-1 bg" id="outcomes" style="background-image: url(/images/bg-section-7-left-bottom.png), url(/images/bg-section-7-right-top.png); background-position: left bottom, right top; background-size: 207px, 180px">
  <div class="container">
    {{ with .delivery }}
    <div class="row">
      <div class="col-md-11">
        <div class="text-left pt-5">
          <p>{{ .description | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-md-12">
        <div class="row">
          {{ $.Scratch.Set "index" 0 }}
          {{ range .items }}
          <div class="col-md-4 pt-5">
            <div class="row pt-5">
              <div class="col-10 offset-1">
                <div class="text-left border-hand-drawn p-2">
                  {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
                  <div class="numbered">{{ $.Scratch.Get "index" }}</div>
                  <p>{{ .name | markdownify }}</p>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    {{ with .passion }}
    <div class="row">
      <div class="col-md-11">
        <div class="text-left pt-5 pb-5">
          <p>{{ .description | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-md-12">
        <div class="row">
          {{ $.Scratch.Set "index" 3 }}
          {{ range .items }}
          <div class="col-md-4 pt-5">
            <div class="row pt-5">
              <div class="col-10 offset-1">
                <div class="text-left border-hand-drawn p-2">
                  {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
                  <div class="numbered">{{ $.Scratch.Get "index" }}</div>
                  <p>{{ .name | markdownify }}</p>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      <div class="col-12 text-center">
        {{ if .button.enable }}
        {{ with .button }}
        <div class="cta">
          <a href="{{ .link | absLangURL }}" class="btn btn-main">{{ .label }}</a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}