{{- if .Params.target.enable }}
{{- with .Params.target }}
<section class="section bg-grey-1 bg" style="background-image: url(/images/bg-section-1-left-bottom.png), url(/images/bg-section-1-right-top.png), linear-gradient(to bottom right, #f7f5f1 50%, #f2efe9 50%); background-position: left bottom, right top, bottom; background-size: 245px, 364px, 100% 125px">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ with .statement }}
    <div class="row">
      <div class="col-md-11">
        <div class="text-left pb-3">
          <p>{{ .description | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ range .figures }}
    <div class="row">
      <div class="col-2">
        <div class="text-right font-weight-bold">
          <p>{{ .number | markdownify }}</p>
        </div>
      </div>
      <div class="col-9">
        <div class="text-left">
          <p>{{ .details | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    {{ with .source }}
    <div class="row">
      <div class="col-md-11">
        <div class="text-right pb-5">
          <a href="{{ .url | absLangURL }}" class="link-title">{{ .label | markdownify }}</a>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{- end }}
{{- end }}