{{- if .Params.operation.enable }}
{{- with .Params.operation }}
<section class="section linked bg-grey-1 bg" id="operation" style="background-image: url(/images/bg-section-3-right-bottom.png), linear-gradient(to bottom right, #f7f5f1 50%, #f2efe9 50%); background-position: right bottom, bottom; background-size: 243px, 100% 125px">
  <div class="container">
    {{ range .insights }}
    <div class="row p-5">
      <div class="col-md-11">
        <div class="text-left font-weight-bold">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ range .description }}
    <div class="row">
      <div class="col-md-11">
        <div class="text-left pb-3">
          <p>{{ .item | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        {{ range .details }}
        <div class="row">
          <div class="col-md-1 text-right">
            <i class="tf-ion-ios-minus-empty" style="font-size: 40px;"></i>
          </div>
          <div class="col-md-10">
            <p>{{ .item | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{- end }}
{{- end }}