{{- if .Params.purpose.enable }}
{{- with .Params.purpose }}
<section class="section bg-grey-1 bg" id="purpose" style="background-image: url(/images/bg-section-5-left-top.png), linear-gradient(to bottom right, #f7f5f1 50%, #f2efe9 50%); background-position: left top, bottom; background-size: 222px, 100% 125px">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ range .description }}
    <div class="row">
      <div class="col-md-11">
        <div class="text-left pb-3">
          <p>{{ .item | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{- end }}
{{- end }}