{{- if .Params.values.enable }}
{{- with .Params.values }}
<section class="section bg-grey-1 bg" id="values" style="background-image: url(/images/bg-section-7-left-bottom.png), url(/images/bg-section-7-right-top.png); background-position: left bottom, right top; background-size: 207px, 180px">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ range .description }}
    <div class="row">
      <div class="col-md-11">
        <div class="text-left pb-3">
          <p>{{ .item | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range .details }}
      <div class="col-md-5 offset-md-1">
        <div class="m-5">
          <h2>{{ .label | markdownify }}</h2>
        </div>
        <div class="text-left">
          <p>{{ .description | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="col-12 text-center">
        {{ if .button.enable }}
        {{ with .button }}
        <div class="cta">
          <a href="{{ .link | absLangURL }}" class="btn btn-main">{{ .label }}</a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}