{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.action.enable }}
{{- with $data.homepage.action }}
<section class="section bg-grey-1 bg" id="action" style="background-image: url(images/bg-action.png); background-position: right bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .pillars }}
      <div class="col-md-4 align-self-end">
        <p class="font-weight-bold">{{ .name | markdownify }}</p>
        <p>{{ .description | markdownify }}</p>
      </div>
      {{ end }}
      <div class="col-12 text-center">
        {{ if .button.enable }}
        {{ with .button }}
        <div class="cta">
          <a href="{{ .link | absLangURL }}" class="btn btn-main">{{ .label }}</a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}