{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.approach.enable }}
{{- with $data.homepage.approach }}
<section class="section bg-grey-2" id="approach">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-end">
      {{ with .master }}
      <div class="col-md-4 offset-3">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-2">
        <div class="mb-40 text-md-left">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .description | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<section class="section" style="background: linear-gradient(90deg, #eae7df 50%, #e3e1d9 50%);">
  <div class="container">
    <div class="row align-items-center">
      {{ with .deliver }}
      <div class="col-md-4">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="mb-40 text-md-left">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .description | markdownify }}</p>
        </div>
      </div>
      {{ end }}
      {{ with .impact }}
      <div class="col-md-4">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="mb-40 text-md-left">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .description | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}