{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.steps.enable }}
{{- with $data.homepage.steps }}
<section class="section bg-terracotta" id="steps">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
  </div><!-- .container close -->
</section>
<section class="section bg-white" id="steps">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        {{ with .left_side }}
        <div class="mb-40 text-center text-md-left">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          {{ range .activities }}
          <p>{{ .item | markdownify }}</p>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
        {{ with .on_top }}
        <div class="mb-40 text-center text-md-left">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          {{ range .activities }}
          <p>{{ .item | markdownify }}</p>
          {{ end }}
        </div>
        {{ end }}
        <div class="h-50">
          <img class="img-fluid" src="{{ .image | absURL }}" alt="">
        </div>
        {{ with .bottom }}
        <div class="mb-40 text-center text-md-left">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          {{ range .activities }}
          <p>{{ .item | markdownify }}</p>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <div class="col-md-4">
        {{ with .right_side }}
        <div class="mb-40 text-center text-md-left">
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          {{ range .activities }}
          <p>{{ .item | markdownify }}</p>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <div class="col-12 text-center">
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-main">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}