{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.target.enable }}
{{- with $data.homepage.target }}
<section class="section bg-grey-2 bg" id="target" style="background-image: url(/images/bg-target.png), linear-gradient(to top right, #f7f5f1 50%, #f2efe9 50%); background-position: left top, bottom; background-size: 213px, 100% 125px">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-left pt-5 pb-5">
          <p>{{ .description | markdownify }} {{ .legend | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row align-items-start">
      {{ range .facts }}
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-10 offset-1">
            <div class="text-center">
              <p>{{ .name | markdownify }}</p>
            </div>
          </div>
        </div>
        <!-- FIXME align center image -->
        <img class="img-fluid m-5" src="{{ .image | absURL }}" alt="">
      </div>
      {{ end }}
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}