{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.target.enable }}
{{- with $data.homepage.target }}
<section class="section bg-grey-2 bg" id="target" style="background-image: url(/images/bg-target.png), linear-gradient(170deg, #f6f5f1 4%, #f2efeb 4%); background-position: left top">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-left">
          <p>{{ .description | markdownify }} {{ .legend | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .facts }}
      <div class="col-md-3 align-self-end">
        <img class="img-fluid m-5" src="{{ .image | absURL }}" alt="">
        <p>{{ .name | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}