{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.target.enable }}
{{- with $data.homepage.target }}
<section class="section" id="target">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
        <div class="text-center">
          <p>{{ .description | markdownify }}</p>
          <p>{{ .legend | markdownify }}</p>
        </div>
      </div>
        <div class="col-12">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
            <img class="img-fluid" src="{{ .image | absURL }}" alt="">
          </div>
          <div class="col-md-4"></div>
        </div>
      <div class="col-12">
        <div class="text-left">
          <p>{{ .observation | markdownify }}</p>
          {{ range .facts }}
          <p>- {{ .item | markdownify }}</p>
          {{ end }}
        </div>
      </div>
      <div class="col-12">
        <p class="mb-4 text-center">{{ .conclusion | markdownify }}</p>
        <p class="mb-4 text-center">{{ .solution | markdownify }}</p>
      </div>
      <div class="col-12">
        {{ with .study }}
        <p class="mb-4 text-center font-italic">{{ .content | markdownify }}</p>
        <p class="mb-4 text-center font-italic">{{ .source | markdownify }}</p>
        {{ end }}
      </div>
      <div class="col-12 text-center">
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-main">{{ .label }}</a>
        {{ end }}
      </div>
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}