{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.testimonial.enable }}
<section class="testimonials section bg-grey-1 bg" id="testimonial" style="background-image: url(/images/bg-section-7-left-bottom.png), url(/images/bg-section-7-right-top.png); background-position: left bottom, right top; background-size: 207px, 180px">
  <div class="container">
    {{ with $data.homepage.testimonial }}
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading-black">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      {{ range .testimonial_item }}
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0 text-center align-self-center">
        <div class="testimonial-block">
          <div class="author-details">
            <img src="{{ .image | absURL }}" alt="{{ .name }}">
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}