{{ define "main" }}

{{- if .Params.form.enable }}
{{- with .Params.form }}

<section class="section bg-grey-1 bg" style="background-image: url(/images/bg-section-7-left-bottom.png), url(/images/bg-section-1-right-top.png); background-position: left bottom, right top; background-size: 207px, 364px">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mb-5">
        <div class="heading">
          <h2>{{ .label | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mb-5">
        <div class="text-left pb-3">
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <form id="static-form" action="{{ site.Params.staticforms_form_action }}" method="POST" class="row">
          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="lastname" name="$lastName" required placeholder="{{ i18n "lastname" }}">
          </div>
          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="firstname" name="$firstName" required placeholder="{{ i18n "firstname" }}">
          </div>
          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="business" name="$business" required placeholder="{{ i18n "business" }}">
          </div>
          <div class="col-lg-6 mb-3">
            <input type="tel" class="form-control mb-2" id="phone-number" name="$phoneNumber" required placeholder="{{ i18n "phone-number" }}">
          </div>
          <div class="col-12 mb-3">
            <input type="email" class="form-control mb-2" id="email" name="$email" required placeholder="{{ i18n "email" }}">
          </div>
          <div class="col-12 mb-3">
            <input type="text" class="form-control mb-2" id="reason" name="$reason" required placeholder="{{ .reason | markdownify }}">
          </div>
          <div class="col-12 mb-3">
            <textarea class="form-control mb-2" name="message" id="$message" required placeholder="Your Message"></textarea>
          </div>
          <div class="col-12 mb-3">
            <!-- reCAPTCHA widget -->
            <div class="g-recaptcha" data-sitekey="{{ site.Params.reCAPTCHA_site_key }}"></div>
          </div>
          <div class="col-12 text-center pt-3 align-self-center">
            <input type="text" name="honeypot" style="display: none;">
            <input type="hidden" name="accessKey" value="{{ site.Params.staticforms_access_key }}">
            <button type="submit" value="send" class="btn btn-main">{{ i18n "send" }}</button>
          </div>
          <div id="sent" class="col-12 pt-3 text-center" style="display: none;">
            {{ range .sent_messages }}
            <p>{{ .item | markdownify }}</p>
            {{ end }}
          </div>
          <div id="error" class="col-12 pt-3 text-center" style="display: none;">
            {{ range .error_messages }}
            <p>{{ .item | markdownify }}</p>
            {{ end }}
          </div>
        </form>
      </div>
      <div class="col-lg-4 pt-5 align-self-center">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}

{{ end }}